h4{
    text-align: center;
}

p{
    border: 1px solid black;
    text-align: center;
    padding: 10px 10px; 
    cursor: pointer;
    margin-right: 5em;
}

.my-button{
    border-radius: 25vh;
    padding: 2vh 6vh;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #33b4e5;
    color: white;
}

.table{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    border: 2px solid black;
    padding: 10px 10px;
}